body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    align-items: center;
    display: flex;
    height: 45px;
    padding-left: 9.5px;
    border-bottom: 1px solid #57BADB
}

p {
    margin-left: 20px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 17.58px;
    letter-spacing: -0.02em;
    text-align: left;
}

header img {
    width: 32px;
    height: 13px;
}

.container {
    background: #E8E8E8;
    padding: 25px 6px;
}
.scrollbar__thumb {
    background-color: #33ADD6 !important;
    border-radius: 5px !important;
}

.scrollbar__content--vertical {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
}

